*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox-1{
  display: flex;
  width: 1280px;
  height: 601px;
  font-size: 80px;
  justify-content: center;
  background-color: bisque;
  position: absolute;
}

.flexbox-2{
width: 1240px ;
height: 475px;
background-color: plum;
left: 20px;
margin-top: 110px;
position: absolute;
}

.flexbox-3{
width: 1240px;
height: 475px;
position: absolute;
border: 5px solid black;
border-style: dashed;
}

.flexbox-4{
width: 605px;
height: 453px;
left: 5px;
margin-top: 5px;
position: absolute;
border: 2px solid black;
}

.flexbox-5{
  width: 605px;
  height: 453px;
  margin-top: -2px;
  left: 610px;
  position: absolute;
  border: 2px solid black;
  }

.flexbox-6{
font-size: 17px;
top: 10px;
left: -380px;
position: absolute;
}

.flexbox-7{
font-size: 15px;
font-weight: bold;
top: 30px;
right: 12px;
background-color: orchid;
position: absolute;
}

.flexbox-8{
font-size: 15px;
font-weight: normal;
right: 20px;
position: absolute;
}

.flexbox-9{
font-size: 15px;
font-weight: bold;
top: 30px;
right: 12px;
background-color: orchid;
position: absolute;
}

.flexbox-10{
font-size: 15px;
top: 30px;
right: 12px;
position: absolute;
}