*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox-1{
  display: flex;
  width: 1280px;
  height: 601px;
  font-size: 80px;
  justify-content: center;
  background-color: bisque;
  position: absolute;
}

.flexbox-2{
width: 1240px ;
height: 475px;
background-color: plum;
left: 20px;
margin-top: 110px;
position: absolute;
}

.flexbox-3{
width: 1240px;
height: 475px;
left: 20px;
margin-top: 110px;
position: absolute;
border: 1px solid black;
border-style: dashed;
}

.flexbox-4{
width: 615px;
height: 453px;
left: 30px;
margin-top: 120px;
position: absolute;
border: 1px solid black;
}